#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
  margin-top: 20px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 10px;
}

ol {
  list-style-position: inside;
}

.em {
  color:#1565C0;
  font-weight: bold;
  font-size: 18px;
}

#sim_notes {
  font-style: italic;
}

input[type=number] {
  box-sizing: border-box;
  width: 75px;
}

#nav {
  font-size: 20px;
}
#nav a {
  color: #2c3e50;
}

#nav ul {
  list-style-type: none;
  background: #BBDEFB;
}

#nav ul li {
  display:inline;
  padding: 5px;
}

.back-next-buttons {
  font-size: 20px;
  color:#1565C0;
}

.back-next-buttons a{
  font-size: 30px;
  padding: 5px;
  color:##1565C0;
  font-weight: bold;
}

.textbody {
  width:1000px;
  margin:15px 20px 5px 5px;
}
 #value_comparison, #risk_comparison {
   float:right;
   width: 305px;
   margin: 1px;
   text-align: center;

 }
#chart{
  float:right;
}

#update_chart_button {
  position:relative;
  left:-75px;
}

#update_chart_button button{
  color:#2c3e50;
  background:#BBDEFB;
  font-weight: bold;
  font-size: 18px;
}
